<h1>Angular Kitchen Sink</h1>

<theme-dpdhl>
    <div class="container">
        <div>
            <dpdhl-button type="Primary"
                          (click)="handleClick('base button')"
                          size="normal">
                Button
            </dpdhl-button>
        </div>
        <div>
            <dpdhl-button type="Secondary">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button type="Text">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button type="Postyellow">Button</dpdhl-button>
        </div>

        <div>
            <dpdhl-button size="Small"
                          type="Primary">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Small"
                          type="Secondary">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Small"
                          type="Text">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Small"
                          type="Postyellow">Button</dpdhl-button>
        </div>

        <div>
            <dpdhl-button size="Tiny"
                          type="Primary">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Tiny"
                          type="Secondary">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Tiny"
                          type="Text">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Tiny"
                          type="Postyellow">Button</dpdhl-button>
        </div>

    </div>
</theme-dpdhl>


<div>
    <pre>{{log}}</pre>
</div>
