<h1>Angular Kitchen Sink</h1>

<dpdhl-theme>
    <div class="container">
        <div>
            <dpdhl-button type="Primary"
                          (click)="handleClick('base button')"
                          size="normal">
                Button
            </dpdhl-button>
        </div>

        <div>
            <pre>{{log}}</pre>
        </div>


        <div>
            <dpdhl-button type="Secondary">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button type="Text">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button type="Postyellow">Button</dpdhl-button>
        </div>

        <div>
            <dpdhl-button size="Small"
                          type="Primary">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Small"
                          type="Secondary">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Small"
                          type="Text">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Small"
                          type="Postyellow">Button</dpdhl-button>
        </div>

        <div>
            <dpdhl-button size="Tiny"
                          type="Primary">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Tiny"
                          type="Secondary">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Tiny"
                          type="Text">Button</dpdhl-button>
        </div>
        <div>
            <dpdhl-button size="Tiny"
                          type="Postyellow">Button</dpdhl-button>
        </div>

        <div style="width: 300px;">
            <dpdhl-card-simple title="Card Title"
                               content="Some Text..."
                               button_label="Main Action"
                               [menu_items]="menuItems"></dpdhl-card-simple>
        </div>

        <div>

            <dpdhl-table [title]="tableTitle"
                         [footer]="tableFooter">

                <thead slot="head">
                    <tr>
                        <th *ngFor="let header of tableHeaders">{{header}}</th>
                    </tr>
                </thead>

                <tbody slot="body">
                    <tr *ngFor="let row of tableRows">
                        <td *ngFor="let cell of row | keyvalue">{{cell.value}}</td>

                    </tr>
                </tbody>

            </dpdhl-table>

        </div>

    </div>
</dpdhl-theme>
