.sidebar-toggler{
    width:  2em;
    height: 2em;

    transform:  rotate(0deg);
    cursor:     pointer;
    transition: transform 0.2s;
}

h2{
    width: 100%;
}
.sidebar-toggler.open {
    transform: rotate(90deg);
}

.container {
    flex-direction: column;
    display:        flex;
    gap:            20px;
    align-items:    center;

    margin: 5em auto;
    width:  70%;
}

h4 {
    text-align: center;
}
.left,
.right,
.middle{
    display:         flex;
    flex-direction:  row;
    gap:             1em;
    align-items:     center;
    justify-content: center;
}

.left img{
    height: 4em;
}
