$color: red;

	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: $color;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
		font-family: "DeliveryLight";
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}


	:global(*){
		font-family: "DeliveryRegular";
	}


	@font-face {
		font-family: "DeliveryRegular";
		src: url("./assets/fonts/delivery/Delivery_W_Rg.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "DeliveryBold";
		src: url("./assets/fonts/delivery/Delivery_W_Bd.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "DeliveryBoldItalic";
		src: url("./assets/fonts/delivery/Delivery_W_BdIt.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "DeliveryBlackCondensed";
		src: url("./assets/fonts/delivery/Delivery_W_CdBlk.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: 'DeliveryLightCondensed';
		src: url('./assets/fonts/delivery/Delivery_W_CdLt.woff2') format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "DeliveryItalic";
		src: url("./assets/fonts/delivery/Delivery_W_It.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "DeliveryLight";
		src: url("./assets/fonts/delivery/Delivery_W_Lt.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "DeliveryLightItalic";
		src: url("./assets/fonts/delivery/Delivery_W_LtIt.woff2") format("woff2");
		font-display: swap;
	}